.container {
    margin: auto;
    width: 800px;
    height: 600px;
    border: 1px, solid, black;
    border-radius: 10%;
    
    font-family: 'Times New Roman', Times, serif;
}

.heading {
    color:rebeccapurple;
}

.nav-links {
    display:flex;
    list-style: none;
    padding-left: 0;
}

.nav-link-item {
    padding-right: 2rem;
}

.nav-link-text {
    color: black;
}