.pointer {
    background-color: white;
    content: url("https://p.kindpng.com/picc/s/40-406658_clipart-shapes-triangle-red-triangle-svg-hd-png.png");
    width: 30px;
    height: 30px;
    transform: rotate(0deg);
    margin-left: 135px;
}
